.App{
    background-color: black;
  }
  .navbar {
    box-shadow: 0px 3px 25px rgb(8, 8, 8);
    position: sticky;
    overflow: hidden;
    display: 100%;
    height: 70px;
    top: 5px;
    background-color: black; 
    display: block;
  }
  .menu{
    position: sticky;
    top: 0px;
  }
  
  .navbar li {
    display: inline-block;
    padding: 0px;
    font-family:sans-serif;
    padding-left: 0%;
    position: sticky;
  }
  
  .navbar a {
    float: left;
    color: #f0ecec;
    text-align: center;
    padding: 0px 18px;
    text-decoration: none;
    font-size: 17px; 
    cursor: pointer;
    position: sticky;
    font-family: "Poppins",sans-serif;
  }
  a:after{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    left:0;
    background:rgb(225, 199, 250);
    bottom: -10px;
    transition: 0.3s;
    
  }
  a:hover:after{
  width: 100%;
  }
  a:hover{
    color: #f0ecec;
  }
  .navbar-content{
   padding: 15px;
  }
  .signup{
    float: left;
    text-align: left;
    padding-top: 5px;
  
  }
  
  .search-bar{
    background-color:rgb(220, 185, 252);
    border-radius: 30px;
    margin: 0 auto;
    width: 550px;
    padding-left: 20px;
    border: none;
    box-shadow: inset  15px black;
  }
  .search-bar i{
    color: #070606;
    font-weight: bolder;
  }
  .search-text{
    height: 30px;
    width: 500px;
    background-color: rgb(220, 185, 252);
    border: none;
    font-size: 15px;
    border-radius: 30px;
    position: relative; 
    margin: 0 auto;
    padding-left: 15px;
    color:black;
  }