.parlour-page ul li{
    display: inline-block;
    text-align: center;
    padding: 15px;
    margin-left: 65px;
    margin-top: 35px;
    min-height: 60vh;
    margin-bottom: 25px;
}
.parlour-page ul li a{
    text-decoration: none;
}
.par{
    border: 5px black;
}
.par img:hover {
    transform: scale(1.2)
}
.par img{
    transition: transform 1s;
    border-radius: 0px;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
}
.Par{
    height: 300px;
    width: 30px;
    transition: transform 0.2s;
}
.parlour-page h2{
    text-align: center;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    color: rgb(96, 9, 99);
    font-weight: bolder;
}
.par h2{
    margin-top:45px
}